@model List<Data.Entities.Funcionario>

<div id="CabecalhoPesquisa">    
    <div class="filters">
        <div class="FormGroupCadastro">
            <label class="ControlLabel">Origem</label>
            <select id="OrigemId" asp-items="@ViewBag.Municipios" class="form-input"></select>
        </div>
        <div class="FormGroupCadastro">
            <label class="ControlLabel">Destino</label>
            <select id="DestinoId" asp-items="@ViewBag.Municipios" class="form-input"></select>
        </div>
        <div class="FormGroup">
            <a id="BtnPesquisa" onclick="consultaMotoristas()">
                <img class="icon" src="/images/search-solid.svg" />
            </a>
        </div>
    </div>

    <div class="filters">        
        <div class="form-button" id="BtnNovoRegistro">
            <a asp-controller="Funcionario" asp-action="Create">
                <img class="icon" src="/images/Plus.svg" alt="Novo Registro">
                <label>Novo Registro</label>
            </a>
        </div>
    </div>
</div>
<div id="Itens">
    @if (Model != null)
    {
        foreach (var item in Model)
        {
            <div id="ConteudoViagem">
                <div class="form-iconButton">
                    <a asp-controller="Funcionario" asp-action="Update" asp-route-id="@item.Id" id="BtnEdit">
                        <img class="icon" src="/images/edit-solid.svg" />
                    </a>
                </div>
                <div class="form-iconButton">
                    <button id="BtnDelete" onclick="confirmaExclusaoSemValidacao(this, 'Confirma?', 'Sim', 'Nao', 'Funcionario/Delete/@item.Id')">
                        <img class="icon" src="/images/trash-alt-regular.svg" />
                    </button>
                </div>
                <div class="FormText">
                    <p>
                        Motorista: @item.Nome
                    </p>
                </div>
            </div>
        }
    }
</div>

@section Scripts{
    <link href="~/css/viagem.css" rel="stylesheet" />
    <script src="~/js/site.js" asp-append-version="true"></script>
}